/* Main.module.css */

.start {
    display: flex;
    height: 1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.80) 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.videoBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.but{
    background: linear-gradient(180deg, #FD792F 0%, #FF5C00 100%);
}

@media (max-width: 600px) {
    .start {
        display: flex;
        height: 700px;
        background: linear-gradient(rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.80) 100%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

}